# Copy file này thành .env và điền thông tin thật vào
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/SimpleQuiz?retryWrites=true&w=majority
PORT=3000
SECRET_KEY=your-secret-key-here
